@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.Header {
  position: relative;
  z-index: 10;
  width: 100%;

  &_logo {
    svg {
      width: rem(60px);
      height: rem(60px);
    }

    path {
      fill: $white;
    }
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: rem(10px) 0;
  }
}
