@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.Dropdown {
  padding: rem(14) !important;
  height: 56px !important;
  border: 1px solid $neutral-03 !important;
  border-radius: 6px !important;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: none !important;

  :global(.react-dropdown-select-dropdown-handle) {
    margin: 0 !important;
    display: flex;
    align-items: center;
  }

  :global(.react-dropdown-select-content) {
    input,
    span {
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;

      &::placeholder {
        color: $neutral-04;
      }
    }
  }

  &:focus,
  &:focus-within {
    border: 2px solid #202025 !important;
    box-shadow: 0 8px 8px rgb(0 0 0 / 6%) !important;
  }
}
