@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.tableInfo {
  padding-top: var(--spacing-supper);
  padding-bottom: var(--spacing-supper);
}

.Home {
  &_headline {
    margin-bottom: var(--spacing-still);
  }

  &_rowSpec {
    padding-bottom: var(--spacing-sx);
    position: relative;

    &_colBor {
      position: relative;
    }

    &_border {
      position: relative;
      width: 100%;
      padding-top: var(--spacing-sx);
      display: block;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        display: block;
        border-top: 1px solid $neutral-03;
      }
    }
  }

  &_specContainer {
    margin: rem(176) auto rem(80);
  }

  &_specTitle {
    font-weight: 500;
    font-size: rem(20px);
    line-height: 140%;
    color: $neutral-08;
  }

  &_specContent {
    color: $neutral-08;
    font-weight: 300;
    font-size: rem(16px);
    line-height: 140%;

    &:not(:first-of-type) {
      margin-top: rem(8);
    }

    &.highlight {
      font-weight: 500;
    }

    &.price {
      display: flex;
      align-items: center;
      font-weight: 500;

      span {
        margin-right: var(--spacing-sx);
      }
    }

    &_specDimension {
      margin-top: rem(24px);
    }
  }

  &_specDimension {
    width: 100%;
  }
}

.screen {
  width: rem(297px);
  margin-bottom: rem(24px);
}

.price {
  margin-bottom: rem(8px);
}

.home_rowFrame {
  margin-top: var(--spacing-supper);
}