.setPrice {
  padding-top: 28px;

  .descriptionTitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-40;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 4px;
    color: $black-100;
  }

  .divider {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 44px;
    height: 1px;
    background-color: $black-40;
  }

  .formItem {
    margin-bottom: 24px;
  }

  .label {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: $black-40;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .input {
    background-color: $background;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $black-100;
    padding: 11px 78px 11px 14px;
    border-radius: 8px;
    width: 100%;
    resize: none;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $black-40;
      opacity: 1; /* Firefox */
    }

    &:input-placeholder {
      /* Internet Explorer 10-11 */
      color: $black-40;
    }

    &::input-placeholder {
      /* Microsoft Edge */
      color: $black-40;
    }
  }

  .requiredTag {
    color: $secondary-red;
  }

  .inputDesc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $black-60;
    margin-top: 10px;
  }

  .inputContainer {
    position: relative;

    .inputPostfix {
      min-width: 54px;
      text-align: center;
      position: absolute;
      right: 14px;
      top: 11px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: $black-100;
      padding-left: 8px;
      border-left: 1px solid $black-20;
    }
  }

  .error {
    font-size: 14px;
    font-weight: 400;
    color: $secondary-red;
    line-height: 20px;
    margin-top: 6px;
  }
}

.stepFooterWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  left: 0;
  right: 0;

  .stepFooter {
    padding: 28px 0;
    background-color: $white-100;
    border-top: 1px solid $black-10;
  }

  .container {
    max-width: 1016px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nextBtn {
    height: 48px;
    min-width: 174px;
    justify-content: center;
  }
}
