@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.Header {
  background-color: $neutral-01;
  border-bottom: 1px solid $neutral-03;
  position: sticky;
  top: 0;
  z-index: 10;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;

    @include w-min(1024px) {
      min-height: 80px;
    }
  }
}
