@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.frameItem {

  text-align: center;
  background-color: $neutral-02;
  transition: background-color .4s $easeOutCubic;
  padding: rem(40px);
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  &_buy {
    display: flex;
    margin-top: var(--spacing-supper);

    &_item {
      background: $neutral-03;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: rem(100px);
      cursor: pointer;
      flex: 1;

      :global(.desc__medium) {
        margin-bottom: 4px;
      }

      p {
        text-align: center;
      }

      * {
        flex: 0 0 100%;
      }

      &_price {
        height: rem(35px);
      }
    }

    img {
      aspect-ratio: 533/347;
    }

    :global(.image__fit) {
      width: rem(533px);
      margin-bottom: rem(20px);
    }
  }
}
