@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  span {
    font-size: 14px;
    line-height: 26px;

    @include min-pc {
      font-size: calc-auto(1200px, 1920px, 14px, 16px);
    }
  }

  padding: {
    left: rem(48);
    right: rem(48);
  }

  &__xl {
    min-height: 56px;

    @include min-pc {
      min-height: calc-auto(1200px, 1920px, 48px, 56px);
    }
  }

  &__lg {
    min-height: 48px;
  }

  &__md {
    min-height: 40px;
    line-height: 24px;
    font-size: 14px;

    @include min-pc {
      font-size: calc-auto(1200px, 1920px, 12px, 14px);
      min-height: calc-auto(1200px, 1920px, 32px, 40px);
    }

    span {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__sm {
    min-height: 32px;
    font-size: 12px;
    line-height: 24px;

    span {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__xs {
    min-height: 30px;
    font-size: 12px;
    line-height: 24px;

    span {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__black {
    background-color: $neutral-08;
    color: $white;
    font-family: $font-paragraph;
    transition: background-color 0.4s $easeOutCubic;

    &:hover {
      background-color: $neutral-07;
    }

    &:disabled {
      background-color: $neutral-03;
      color: $neutral-04;
    }
  }

  &__outlineBlack {
    background-color: transparent;
    color: $neutral-07;
    border: 2px solid $neutral-06;

    &:hover {
      background-color: $neutral-02;
    }

    &:disabled {
      background-color: $neutral-03;
      color: $neutral-04;
      border-color: $neutral-04;
    }
  }

  &__white {
    background-color: transparent;
    color: $neutral-07;

    &:hover {
      background-color: $neutral-02;
    }

    &:disabled {
      background-color: $neutral-03;
      color: $neutral-04;
    }
  }

  &__outlineWhite {
    background-color: $neutral-07;
    border: 2px solid $white;
    color: $white;

    &:hover {
      background-color: $neutral-06;
    }

    &:disabled {
      background-color: $neutral-03;
      color: $neutral-04;
      border-color: transparent;
    }
  }

  &__ctaAnim {
    font-family: $font-paragraph;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $neutral-08;
    border-radius: 0;
    padding: 0 rem(50px);
    box-shadow: none;
    clip-path: inset(0);
    position: relative;
    background: $neutral-08;
    transition: color 0.6s $easeOutCubic;

    :global(.text) {
      position: relative;
      z-index: 2;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      width: 101%;
      height: 102%;
      transition: transform 0.6s $easeOutCubic;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      background-color: $neutral-08;
      transform: translateY(100%);
    }

    &::before {
      background-color: white;
      transform: translateY(0%);
    }

    @media (hover: hover) {
      &:hover {
        color: $white;

        &::after {
          transform: translateY(0%);
        }

        &::before {
          transform: translateY(-102%);
        }
      }
    }

    &__black {
      color: white;
      background: $white;

      &::after {
        background-color: $white;
      }

      &::before {
        background-color: $neutral-08;
      }

      @media (hover: hover) {
        &:hover {
          color: $neutral-08;
        }
      }
    }
  }

  &__ctaBorder {
    font-family: $font-paragraph;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    border-radius: 0;
    padding: 0 rem(24px);
    box-shadow: none;
    clip-path: inset(0);
    position: relative;
    transition: color 0.6s $easeOutCubic;
    display: flex;
    gap: 5px;
    align-items: center;
    background: none;
    border: 1px solid $white;

    svg path {
      transition: fill 0.6s $easeOutCubic;
    }

    :global(.text),
    :global(.icon) {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 101%;
      transition: transform 0.6s $easeOutCubic;
      position: absolute;
      will-change: transform;
      top: 0;
      left: 0;
      background-color: $white;
      transform: translateY(100%);
    }

    &:hover {
      color: $neutral-08;

      &::after {
        transform: translateY(0%);
      }

      path {
        fill: $neutral-08;
      }
    }

    &__black {
      color: $neutral-08;
      border: 1px solid $neutral-08;

      &::after {
        background-color: $white;
      }

      &::before {
        background-color: $neutral-08;
      }

      @media (hover: hover) {
        &:hover {
          color: $neutral-08;
        }
      }
    }
  }

  &__ctaNone {
    position: relative;
    font-family: $font-paragraph;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    gap: 10px;
    background: transparent;

    &::after {
      content: "";
      display: block;
      border-bottom: 1px solid $white;
      bottom: 0;
      opacity: 0;
      width: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s $easeOutCubic;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &_rouneded {
    border-radius: 8px;
  }
}
