.wrapper {
  label {
    font-weight: 700;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  input,
  textarea {
    border: 1px solid #000;
  }

  textarea {
    resize: none;
  }
}

.categories {
  padding: 20px;
  border: 1px solid #000;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  label {
    font-weight: 400;
  }
}
