.imagePreviewInput {
  width: 100%;
  height: 100%;

  label {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .fileInput {
    display: none;
  }

  .previewWrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .previewImage {
    object-fit: cover;
  }

  .change_btn {
    position: absolute;
    bottom: rem(32px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: rem(100px);
  }
}
