.imagePreviewInput {
  .fileInput {
    display: none;
  }

  .placeHolder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .previewWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .previewImage {
    object-fit: cover;
  }
}
