$header-height: 80px;
$footer-height: 198px;

.profile {
  color: black;
  height: calc(100vh - (rem($header-height) + rem($footer-height)));
  margin-top: rem(70px);
}

.profile div {
  line-height: 34px;
}
