.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.defaultAvatar {
  width: 100%;
  height: 100%;
  background: #ddd;
}
