.wrapper {
  flex: 1;
}

.thumbnail {
  aspect-ratio: 4 / 3;
  width: 100%;
  position: relative;
}

.sandboxContainer {
  width: 100%;
  height: 100%;

  iframe canvas {
    width: 100%;
    height: 100%;
  }
}

.actionButtons {
  justify-content: center;
  margin-top: 15px;
}
