:root {
  --text-primary: #000002;
  --text-black: #1e1e1e;
  --text-link: #000002;
  --text-disabled: #a5a5a5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

a {
  color: var(--text-link);

  &:hover {
    color: blue;
  }
}
