:root {
  --dark-grey: #a5a5a5;
  --text-primary: #000002;
  --text-black: #1c1c1c;
  --text-link: #000002;
  --text-disabled: #a5a5a5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: CreatoDisplay, sans-serif;
}

a {
  color: inherit;
}

.dropdown-item {
  padding: 10px 16px;
  background-color: $white-100;
  cursor: pointer;
  line-height: (26/16);
  color: $black-60;
  font-weight: 500;
  @include calcFontAuto(13px, 16px);

  &:hover {
    background-color: $white-5;
    color: $black-100;
  }
}
