.wFull {
  width: 100%;
}

.horizontalStack {
  display: flex;
  align-items: center;
  gap: 10px;
}

.justify-between {
  justify-content: space-between;
}

.textSecondary {
  color: var(--text-disabled);
}

.mb8 {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.grid {
  display: grid;
  gap: 24px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.cursor-pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.skeleton {
  background-color: #a5a5a5;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.items-center {
  align-items: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $black-10;
}

.shadow {
  box-shadow: $shadow;
}

.text-error {
  color: $secondary-red;
  font-weight: 500;
  font-size: 12px;
  margin-top: 6px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.text-secondary-color {
  color: $black-60;
}

.text-primary-color {
  color: $black-100;
}

.text-white-60 {
  color: rgba($white, 0.6);
}

.text-white-80{
  color: rgba($white, 0.8);
}

.h-divider {
  height: 100%;
  width: 1px;
  background-color: $black-20;
}

.text-blue-c {
  color: $blue-c;
}

.spacing {
  &__large {
    margin-bottom: rem(40px);
    @include min-tablet {
      margin-bottom: rem(60px);
    }
  }

  &__medium {
    margin-bottom: rem(40px);
  }

  &__small {
    margin-bottom: rem(16px);
    @include min-tablet {
      margin-bottom: rem(24px);
    }
  }
}
