.wFull {
  width: 100%;
}

.horizontalStack {
  display: flex;
  align-items: center;
  gap: 10px;
}

.justify-between {
  justify-content: space-between;
}

.textSecondary {
  color: var(--text-disabled);
}

.mb8 {
  margin-bottom: 2rem;
}

.mb4 {
  margin-bottom: 1rem;
}

.mb1 {
  margin-bottom: 0.25rem;
}

.block {
  display: block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.grid {
  display: grid;
  gap: 40px;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.cursor-pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.skeleton {
  background-color: #a5a5a5;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
