/* primary colors */

/* BLACK */
$black-100: #1c1c1c;
$black-80: #000c;
$black-60: #0009;
$black-40: #0006;
$black-20: #0003;
$black-10: #0000001a;
$black-5: #f2f2f2;

/* WHITE */
$white-100: #fff;
$white-80: #fffc;
$white-40: #fff6;
$white-20: #fff3;
$white-10: #ffffff1a;
$white-5: #eee;

/* PRIMARY */
$primary-light: #f7f9fb;
$primary-blue: #e3f5ff;
$primary-purple: #e5ecf6;
$primary-purple-50: #f2f5fa;
$primary-333: #333;
$primary-brand: #1c1c1c;

/* SECONDARY */
$secondary-purple-a: #95a4fc;
$secondary-purple-b: #c6c7f8;
$secondary-blue-a: #a8c5da;
$secondary-blue-b: #b1e3ff;
$secondary-blue-c: #4F43E2;
$secondary-green-a: #a1e3cb;
$secondary-green-b: #baedbd;
$secondary-green-c: #24c087;
$secondary-yellow: #ffe899;
$secondary-red: #ff4747;

/* SHADOW */
$shadow: 0 4px 16px 0 #0000001a;
$background: #f8f8f8;

$font-family: 'BandeinsSans', sans-serif;
