@import "_themes/mixins";
@import "_themes/bt-variables";
@import "bootstrap/scss/bootstrap";
@import "_bt-importer";
@import "_fonts";
@import "_reset";
@import "_variables";
@import "_theme";
@import "_utils";
@import "_themes/fonts";
@import "_themes/laddingpage";
@import "_grid-debug";
@import "_themes/bootstrap-overrides";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-anchor: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;

  font-size: 10px;
  @include min-pc {
    font-size: vw(10px);
  }
  
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: $neutral-07;
  font-size: rem(16px);
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
textarea {
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  outline: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

[class^="js-anim"]:not(.is-handle) {
  opacity: 0;
}

.is-loading {
  overflow: hidden;
}
