@import '_themes/mixins';
@import '_themes/fonts';
@import '_themes/bt-variables';
@import '~bootstrap/scss/bootstrap';
@import '_reset';
@import '_variables';
@import '_theme';
@import '_utils';
@import '_themes/laddingpage';
@import '_grid-debug';
@import '_themes/bootstrap-overrides';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;

  @include min-pc {
    font-size: vw(10px);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: $neutral-07;
  font-size: rem(16px);
  font-family: "Bandeins Strange Variable", sans-serif;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  min-height: 100vh;
}

main {
  height: 100%;
  @include calcFontAuto(13px, 16px);
}

input,
textarea {
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  outline: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

[class^='js-anim']:not(.is-handle) {
  opacity: 0;
}

.is-loading {
  overflow: hidden;
}
