.wrapper {
  gap: 80px;

  label {
    font-weight: 700;
  }
}

.form {
  input,
  textarea {
    border: 1px solid #000;
    padding: 16px;
    width: 100%;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.methodOptions {
  border: 1px solid #000;
  padding: 16px;
  margin-top: 8px;
  display: flex;

  > div {
    font-weight: 700;
    flex: 1;
    text-align: center;
    padding: 8px;
    cursor: pointer;

    &.active {
      background-color: #d9d9d9;
    }
  }
}
