.mintGenerative {
  padding-top: 60px;
  padding-bottom: 152px;

  &__success {
    background-position: center;
    background-size: 100%;
  }

  .stepHeaderWrapper {
    margin-bottom: 50px;

    &__hide {
      visibility: hidden;
    }
  }

  .previewWrapper {
    display: none;
  }

  .stepContent {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    justify-content: center;

    &__twoColumn {
      grid-template-columns: 500px 416px;
      column-gap: 100px;

      .previewWrapper {
        display: block;
      }
    }
  }
}
