@import "src/styles/_themes/mixins";

.header {
  margin-bottom: rem(72);

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    a {
      text-decoration: none;
    }

    .navBar {
      display: flex;
      gap: 24px;
      margin-left: rem(60);
      margin-bottom: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      color: $black-40;

      .active,
      a:hover {
        transition: all 0.3s;
        color: $black-100;
      }
    }

    .username {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      font-weight: 700;

      span {
        @include text-ellipsis;

        max-width: 150px;
        line-height: 24px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      color: $black-60;
    }

    .dropdown {
      border-radius: 8px;
      border: 2px solid $black-10;
      overflow: hidden;
      width: rem(188);
      box-shadow: 8px 7px 24px 0 #00000026;
      position: absolute;
      right: 0;
      transform: translateY(11px);
      transition: all 0.2s;
      z-index: 10;
    }
  }
}
