@import 'src/styles/_themes/mixins';

header {
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 36px;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: var(--text-primary);
    }

    .navBar {
      display: flex;
      gap: 24px;
      margin-left: 24px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.footer {
  min-height: rem(198);
  border: 1px solid $black-10;
  background-color: $primary-brand;
  color: $white-100;
  display: grid;
  place-items: center;

  &_content {
    display: flex;
    gap: 40px;
  }
}
