.heading {
  letter-spacing: -0.02em;

  &:is(h1) {
    font-size: 56px;
    line-height: 66px;
  }

  &:is(h2) {
    font-size: 48px;
    line-height: 58px;
  }

  &:is(h3) {
    font-size: 40px;
    line-height: 50px;
  }

  &:is(h4) {
    font-size: 34px;
    line-height: 44px;
  }

  &:is(h5) {
    font-size: 24px;
    line-height: 34px;
  }
}
