.description {
  margin-block: 32px;
}

.dropFile {
  width: calc(100% - 20px);
  border: none;
  margin-bottom: 1rem;
}

.uploadWrapper {
  border: 1px solid #000;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploadBtn {
  width: fit-content;
  align-self: center;
  padding: 16px;
  font-weight: 700;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.uploadStatus {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #d9d9d9;
  border-radius: 8px;
  margin-bottom: 32px;
}

.uploadFiles {
  padding: 20px;
  background: #e7e7e7;
  margin-bottom: 32px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.previewContainer {
  > div:first-of-type {
    margin-inline: auto;
  }
}

.actionButtons {
  justify-content: center;
  margin-top: 8px;

  > img {
    cursor: pointer;
  }
}
