.uploadThumbnailBtn {
  display: flex;
  gap: 6px !important;
  align-items: center;
  padding: 11px 0 !important;
  background-color: $black-5;
  justify-content: center;
  width: 100%;
  margin-bottom: rem(36px);

  .fileName {
    text-transform: uppercase;
    color: $black-100;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
  }
}
