.dropDownWrapper {
  .selectInput {
    :global(.select__control) {
      background-color: $white-100;
      outline: none;
      box-shadow: none;
      border-radius: 0;
      min-height: 52px;
      border: 2px solid $black-20;
      width: 250px;
    }

    :global(.select__indicator-separator) {
      display: none;
    }

    :global(.select__placeholder) {
      color: $black-40;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }

    :global(.select__multi-value__label) {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
    }

    :global(.select__input-container) {
      color: $black-100;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.view_collection {
  display: flex;
  justify-content: center;
  margin-top: rem(50px);
  margin-bottom: rem(90px);

  .icon_btn {
    svg,
    path {
      stroke: $black-100;
    }
  }
}

.listWrapper {
  margin-top: rem(52px);
  min-height: rem(150px);
}
