@import "src/styles/_themes/variables";
@import "src/styles/_themes/mixins";

.CheckoutModal {
  &_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: $neutral-08;
    margin-bottom: rem(16);
  }

  &_shippingTitle {
    margin-top: rem(40);
  }

  &_optionsContainer {
    display: flex;
    gap: 10px;
  }

  &_optionItem {
    flex: 1;
    max-width: 243px;

    img {
      width: 100%;
    }
  }

  &_optionItemContainer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: rem(12);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }

  &_optionItemName {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $neutral-06;
  }

  &_optionItemPrice {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $neutral-08;
    margin-left: auto;
  }

  &_optionItemQty {
    height: 48px;
    background-color: $neutral-08;

    input {
      color: $white !important;
    }

    :global(.btnEditQty:not([class*="disabled"]) svg) {
      color: $white;
    }
  }

  &_optionItemImg {
    width: 128px;
  }

  &_input {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: rem(12);
    }
  }

  &_regionGroup {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    gap: rem(12);
    margin-top: rem(12);

    @include max-tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      gap: rem(5);
    }
  }

  &_orderSummary {
    min-width: 40%;
    margin-left: rem(40);
    padding: rem(16);
    background-color: $neutral-02;
    align-self: baseline;

    @include mobile {
      min-width: 100%;
      margin-left: 0;
    }
  }

  &_summaryLine {
    display: flex;
    justify-content: space-between;
    margin-top: rem(16);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &:last-of-type {
      margin-top: rem(20);
      padding-top: rem(20);
      border-top: 1px solid #e1e2e2;
      font-weight: 600;
      font-size: 18px;
    }

    .highlight {
      font-weight: 600;
      color: $black;
    }
  }

  &_orderShippingDate {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $neutral-06;
    margin-top: rem(4);
  }

  &_submitBtn {
    width: 100%;
    margin-top: rem(20);
  }

  :global(.modal-body) {
    display: flex;
    padding: rem(40) rem(32);

    @include mobile {
      flex-direction: column;
      gap: 32px;
    }
  }

  :global(.modal-dialog) {
    min-width: 60vw;
  }

  :global(.modal-header) {
    position: absolute;
    border: none;
    right: rem(4);
    top: rem(4);
    z-index: 1;
  }

  :global(.modal-content) {
    border-radius: 12px;
    border: none;
  }
}

.OrderSuccessModal {
  display: grid !important;
  place-items: center;

  :global(.modal-body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(16);
    padding: 32px;
  }

  :global(.modal-content) {
    border-radius: 8px;
  }

  &_title {
    font-weight: 600;
    font-size: 24px;
  }

  &_content {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &_email {
    color: $neutral-07;
    font-weight: 600;
  }

  &_button {
    width: 100%;
    margin-top: 16px;
  }
}

.errorMessageWrapper {
  margin-top: 12px;

  .errorMessage {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $secondary-red;
  }
}
