.inputWrapper {
  .desc {
    margin-block: 4px;
    color: var(--text-disabled);
  }

  input,
  textarea {
    padding: 16px;
    width: 100%;
    border: 1px solid #000;
    margin-top: 8px;

    &::placeholder {
      color: var(--text-disabled);
    }
  }

  textarea {
    min-height: 60px;
    resize: none;
  }
}
