.wrapper {
  padding: 16px;
  border: 1px solid #000;

  h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.thumbnail {
  aspect-ratio: 1 / 1;
  background-color: #d9d9d9;
  margin-bottom: 1rem;
  position: relative;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
