.marketplaceContainer {
  overflow: hidden;

  &_recentWorks {
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: {
      top: rem(100px);
      bottom: rem(100px);
    }
  }
}

