.stats {
  display: flex;
  align-items: center;
  gap: rem(4px);
  margin-bottom: rem(6px);

  > p {
    color: $black-100;
  }

  p {
    color: $black-60;
    font-weight: 600;
  }
}

.wrapper {
  .progressWrapper {
    width: 100%;
    max-width: rem(620px);
    height: rem(4px);
    position: relative;
    background-color: $black-10;
    border-radius: rem(100px);

    .progressBar {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      border-radius: rem(100px);
      background-color: $secondary-green-c;
    }
  }
}
