@import 'src/styles/_themes/mixins';

.useInfo {
  display: flex;
  gap: rem(6px);
  align-items: center;

  &_avatar {
    width: rem(34px);
    height: rem(34px);
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  &_displayName {
    font-weight: 600;
    line-height: (26/16);
    color: $primary-brand;
    @include calcFontAuto(13px, 16px);
  }
}
