.projectInfo {
  display: flex;
  gap: 16px;

  p {
    margin: 0;
  }
}

.thumbnail {
  aspect-ratio: 4 / 3;
  width: 40%;
  position: relative;
}

.info {
  flex: 1;

  h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}

.mintProgress {
  margin-block: 16px;

  .progressWrapper {
    width: 100%;
    max-width: 620px;
    height: 5px;
    position: relative;

    .progressBar {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      background-color: #000;
    }
  }
}

.meta {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  width: fit-content;
}

.submitBtn {
  margin-top: 24px;
}

.desc {
  margin-block: 16px;
}

.tabs {
  border-bottom: 1px solid $black-20;
}

.tab {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  border: none !important;
  letter-spacing: -0.01em;
  color: $black-100 !important;
  padding: 10px 0 !important;

  &:global(.active) {
    border-bottom: 2px solid $black-100 !important;
  }
}

.filterWrapper {
  margin-top: 32px;
}

.tokenListWrapper {
  position: relative;
  min-height: rem(400px);
}

.tokenList {
  padding-top: 48px;
  padding-bottom: 90px;
}
