$grid-gutter-width: rem(24px);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1600px
);

///
:root {

  //spacing
  --spacing-supper: #{rem(200px)};
  --spacing-large: #{rem(165px)};
  --spacing-medium: #{rem(120px)};
  --spacing-small: #{rem(80px)};
  --spacing-still: #{rem(48px)};
  --spacing-sx: #{rem(32px)};

  //end
}