@import "https://rsms.me/inter/inter.css";

@font-face {
  font-family: 'Bandeins Strange Variable';
  src: url('/fonts/BandeinsStrangeVariable.eot');
  src: local('/fonts/Bandeins Strange Variable'), local('BandeinsStrangeVariable'),
  url('/fonts/BandeinsStrangeVariable.eot?#iefix') format('embedded-opentype'),
  url('/fonts/BandeinsStrangeVariable.woff2') format('woff2'),
  url('/fonts/BandeinsStrangeVariable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  //font-display: swap;
}

