@import "https://rsms.me/inter/inter.css";

@font-face {
  font-family: 'Bandeins Strange Variable';
  src: url('/fonts/BandeinsStrangeVariable.eot');
  src: local('/fonts/Bandeins Strange Variable'), local('BandeinsStrangeVariable'),
  url('/fonts/BandeinsStrangeVariable.eot?#iefix') format('embedded-opentype'),
  url('/fonts/BandeinsStrangeVariable.woff2') format('woff2'),
  url('/fonts/BandeinsStrangeVariable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: BandeinsSans;
  src: local("BandeinsSans-Light"),
  url("/fonts/BandeinsSans-Light.woff2") format("woff2"),
  url("/fonts/BandeinsSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BandeinsSans;
  src: local("BandeinsSans-Regular"),
  url("/fonts/BandeinsSans-Regular.woff2") format("woff2"),
  url("/fonts/BandeinsSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BandeinsSans;
  src: local("BandeinsSans-Medium"),
  url("/fonts/BandeinsSans-Medium.woff2") format("woff2"),
  url("/fonts/BandeinsSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BandeinsSans;
  src: local("BandeinsSans-semiBold"),
  url("/fonts/BandeinsSans-semiBold.woff2") format("woff2"),
  url("/fonts/BandeinsSans-semiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: BandeinsSans;
  src: local("BandeinsSans-Bold"),
  url("/fonts/BandeinsSans-Bold.woff2") format("woff2"),
  url("/fonts/BandeinsSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
